<% provide(:title, "Help") %>
<section class="section">
  <div class="container">
    <h1>Help</h1>
    <p>
      This is the help page for the <strong>Ruby on Rails Tutorial</strong> sample application.
    </p>
  </div>
</section>