<footer class="text-center text-muted py-4 border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-md-start text-center">
        <small>© <%= Time.zone.now.year %> Ruby on Rails Tutorial by Juanda</small>
      </div>
      <div class="col-md-6 text-md-end text-center">
        <%= link_to "About", about_path, class: "me-3 link-secondary text-decoration-none" %>
        <%= link_to "Contact", "#", class: "me-3 link-secondary text-decoration-none" %>
        <%= link_to "News", "#", class: "link-secondary text-decoration-none" %>
      </div>
    </div>
  </div>
</footer>